<!-- Artist section -->
<section class="blog-section">
    <div class="container">
        <div class="section-title text-center">
            <p><h2>Know Your Artists</h2></p>
        </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="{{ url_for("static", filename="img/artists/watchman1.png") }}">
            </div>
            <div class="team-content">
              <h3 class="name">Watchman</h3>
              <h4 class="title">Artist/Singer</h4>
            </div>
            <ul class="social">
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-instagram" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="{{ url_for("static", filename="img/artists/walltar1.png") }}">
            </div>
            <div class="team-content">
              <h3 class="name">Walltar</h3>
              <h4 class="title">Artist/Singer</h4>
            </div>
            <ul class="social">
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="{{ url_for("static", filename="img/artists/itk1.png") }}">
            </div>
            <div class="team-content">
              <h3 class="name">ITK</h3>
              <h4 class="title">Artist/Rapper</h4>
            </div>
            <ul class="social">
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="{{ url_for("static", filename="img/artists/onaks1.png") }}">
            </div>
            <div class="team-content">
              <h3 class="name">Onaks</h3>
              <h4 class="title">Artist/Rapper</h4>
            </div>
            <ul class="social">
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
      </div>
      <h4 class="text-center mb-3">Check out your favourite artists <a href="{{ url_for('Playlist')}}"><i>here</i></a></h4>
    </div>
</section>
<!-- Artist section end -->
