<!-- Video Section -->
<section class="blog-section">
    <div class="container">
       <div class="section-title text-center">
            <p><h2>Music Videos</h2></p>
        </div>
        <div class="row">
            <div class="videomedia col-lg-6 col-md-6">
                <iframe width="550" height="315"
                src="https://www.youtube.com/embed/_yyO3hhxeGQ">
                </iframe>
                <h4>Bars Kitchen The Cypher ft AJEBO x WIBE x PAYNE x LOTI x TALKSIICK</h4>
                <p>A Rap Cypher featuring some of the most talented rappers from Covenant University</p>
            </div>
            <div class="videomedia col-lg-6 col-md-6">
                <iframe width="550" height="315"
                src="https://www.youtube.com/embed/IJ0vjQR9jrU">
                </iframe>
                <h4>Pretty Boy</h4>
                <p>Coz Blvck featuring Tjk</p>
            </div>
        </div>
        <div class="row">
                <div class="videomedia col-lg-6 col-md-6">
                    <iframe width="550" height="315"
                    src="https://www.youtube.com/embed/1jGa4yMxKXA">
                    </iframe>
                    <h4>Uno - Dating and playing</h4>
            </div>
        </div>
        <h4 class="text-center">Check out more music videos <a href="{{ url_for('Playlist')}}"><i>here</i></a></h4>
    </div>
</section>
