<!-- Playlist  section -->
<section class="playlist-section">
    <div class="container">
        <div class="section-title text-center">
            <h2>Playlists</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <iframe src="https://embed.music.apple.com/ng/playlist/cus-top-30/pl.u-e98lkNqtadaqLrg" style="border:5px solid lightgrey; border-radius: 16px" width="100%" height="400" allowfullscreen allow="encrypted-media"></iframe>
            </div>
            <div class="col-lg-6 col-md-6">
                <iframe src="https://audiomack.com/embed/playlist/zerogravityy__/cus-top-30" style="border:5px solid lightgrey; border-radius: 16px" width="100%" height="400" allowfullscreen scrolling="no" allow="encrypted-media"></iframe>
            </div>
        </div>
        <h4 class="text-center">Check out the links for the Apple Music and Audiomack playlists <a href="{{ url_for('Playlist')}}"><i>here</i></a></h4>
    </div>
</section>
<!--  Playlist section end -->
