<!-- chart box section -->
<section class="promotion-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="promo-box set-bg" data-setbg="{{ url_for("static", filename="img/cu.jpg") }}">
                    <h2>CU</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="promo-box set-bg" data-setbg="{{ url_for("static", filename="img/zg10.jpg") }}">
                    <h2>ZERO GRAVITY</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="promo-box set-bg" data-setbg="{{ url_for("static", filename="img/unilag.jpg") }}">
                    <h2>UNILAG</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- chart box section end -->
