<!-- Blog  section -->
<section class="blog-section">
    <div class="container">
        <div class="section-title text-center">
            <h2>Recent Blogs</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-image">
                        <img src="{{ url_for("static", filename="img/blog/5.jpg") }}" alt="#">
                        <a class="tag">#music</a>
                    </div>
                    <div class="blog-content">
                        <div class="date">14 AUG 2018</div>
                        <h4>Zero Gravity expanding to Unilag and Bowen</h4>
                        <p>Sed scelerisque justo in aliquam congue. Phasel-lus diam erat, ullamcorper eget dolor id, dignis-sim euismod orci. Nam accumsan tortor ....</p>
                        <a href="#" class="readmore">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-image">
                        <img src="{{ url_for("static", filename="img/blog/4.jpg") }}" alt="#">
                        <a class="tag">#music</a>
                    </div>
                    <div class="blog-content">
                        <div class="date">14 AUG 2018</div>
                        <h4>New Project coming out soon from CU artist Talksiick</h4>
                        <p>Sed scelerisque justo in aliquam congue. Phasel-lus diam erat, ullamcorper eget dolor id, dignis-sim euismod orci. Nam accumsan tortor ....</p>
                        <a href="#" class="readmore">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-image">
                        <img src="{{ url_for("static", filename="img/blog/6.jpg") }}" alt="#">
                        <a class="tag">#music</a>
                    </div>
                    <div class="blog-content">
                        <div class="date">14 AUG 2018</div>
                        <h4>Zero Gravity Summer Award Show </h4>
                        <p>Sed scelerisque justo in aliquam congue. Phasel-lus diam erat, ullamcorper eget dolor id, dignis-sim euismod orci. Nam accumsan tortor ....</p>
                        <a href="#" class="readmore">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="text-center">Check out the latest news and blogs <a href="{{ url_for('Playlist')}}"><i>here</i></a></h4>
    </div>
</section>
<!-- Blog  section end -->
