<!-- Footer section -->
<section class="footer-top-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 ft-widget">
                <div class="ft-title">
                    <h4>About Us</h4>
                </div>
                <p>
                    This organization was created to provide a platform to promote
                    the music artistry of students in University who despite the
                    daily struggles of the school system never fail to grace our
                    ears with good music. Here you see raw talent mixed with
                    hardwork and dedication.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 ft-widget">
                <div class="ft-title">
                    <h4>Charts</h4>
                </div>
                <ul class="order-list">
                    <li><a href=""><span>1</span>Zero Gravity Top 10</a></li>
                    <li><a href=""><span>2</span>CU Top 30</a></li>
                    <li><a href=""><span>3</span>UNILAG Top 30</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 ft-widget">
                <div class="ft-title">
                    <h4>Blog</h4>
                </div>
                <div class="ft-blog-widget">
                    <div class="bw-item">
                        <div class="bw-thumb set-bg" data-setbg="../static/img/blog/thumb/1.jpg"></div>
                        <div class="bw-content">
                            <p>5 Things to know when you attend a music festival. </p>
                            <a href="#">Continue Reading</a>
                        </div>
                    </div>
                    <div class="bw-item">
                        <div class="bw-thumb set-bg" data-setbg="../static/img/blog/thumb/2.jpg"></div>
                        <div class="bw-content">
                            <p>5 Things to know when you attend a music festival. </p>
                            <a href="#">Continue Reading</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 ft-widget">
                <div class="ft-title">
                    <h4>Contact</h4>
                </div>
                <div class="ft-contact-widget">
                    <p><span>IG:</span>      @zerogravityy__</p>
                    <p><span>Twitter:</span> @zerogravityy__</p>
                    <p><span>Email:</span> zerogravityymusic@gmail.com</p>
                    <img src="../static/img/logo1.png" class="footer-logo" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer section end -->
