{% extends "layout.html" %}
{% block content %}
    <div class="container">
      <div class="align-center mt-5">
        <img src="{{ url_for("static", filename="img/collage.jpg") }}" alt="image" width="1200px" height="300px">
      </div>

      <div class="align-items-center mt-2" style="text-align:center">
        <h3>Zero Gravity</h3>
          <h4>Apple Music and Audiomack Playlists</h4>
      </div>

    <div class="mt-4">
      <a href="#" class="btn btn-outline-secondary text-white btn-block" role="button" target="_blank">Apple Music Zero Gravity Top 10</a>
      <br>
      <a href="#" class="btn btn-outline-secondary text-white btn-block" role="button" target="_blank">Audiomack Zero Gravity Top 10</a>
      <br>
      <a href="https://music.apple.com/ng/playlist/cus-top-30/pl.u-e98lkNqtadaqLrg" class="btn btn-outline-secondary text-white btn-block" role="button" target="_blank">Apple Music CU Top 30</a>
      <br>
      <a href="https://audiomack.com/playlist/zerogravityy__/cus-top-30" class="btn btn-outline-secondary text-white btn-block" role="button" target="_blank">Audiomack CU Top 30</a>
      <br>
      <a href="#" class="btn btn-outline-secondary text-white btn-block" role="button" target="_blank">Apple Music UNILAG Top 30</a>
      <br>
      <a href="#" class="btn btn-outline-secondary text-white btn-block" role="button" target="_blank">Audiomack UNILAG Top 30</a>
      <br>
    </div>

    </div>

{% endblock content %}